<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="repeat" value="10" />
    <add key="timeout" value="1" />
    <add key="logstashHost" value="192.168.2.2" />
    <add key="logstashPort" value="5000" />
  </appSettings>
</configuration>